<div id='shorten' ng-controller="ShortenController as shortenCtrl">
<h1>shorten</h1>
  <div class='navigation'>
    <ul>
      <li><a href='#/links' class='index'>All Links</a></li>
      <li><a href='#/shorten' class='create'>Shorten</a></li>
      <li><a href='#/logout' class='logout'>Logout</a></li>
    </ul>
  </div>
  <div>
    <form name="shortenForm" >
      <input type='text' ng-model='url'  >
      <div ng-show="isValidUrl(url)">Is A Valid Url</div>
      <button ng-click='addLink(url)'>add</button>
<!--       <span ng-show='shortenForm.url.$pending.url'>Checking if url is valid...</span>
      <span ng-show='shortenForm.url.$error.text'>This url is invalid</span> -->
    </form>
  </div>
</div>


